@page "/Clients/Create"
@inject HttpClient http
@inject IToastService toastService
<div class="row">
    <div class="col-12">
        <EditForm Model="@client" OnValidSubmit="SaveClient">
            <h3>Create Client</h3>
            <DataAnnotationsValidator />
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end" for="@client.ClientName">Client name</label>
                <div class="col-4">
                    <InputText @bind-Value="client.ClientName" class="form-control" />
                    <ValidationMessage For="@(()=>client.ClientName)" class="text-danger" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end" for="@client.Address">Address</label>
                <div class="col-4">
                    <InputTextArea @bind-Value="client.Address" class="form-control" />
                    <ValidationMessage For="@(()=>client.Address)" class="text-danger" />
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end" for="@client.Email">Email</label>
                <div class="col-4">
                    <InputText @bind-Value="client.Email" class="form-control" />
                    <ValidationMessage For="@(()=>client.Email)" class="text-danger" />
                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-4 offset-2">
                    <button type="submit" class="btn btn-primary">Save</button>

                </div>
            </div>
        </EditForm>
    </div>
    <div class="col-12">
        <a href="/Clients/List" class="btn btn-link">Back to list</a>
    </div>
</div>

@code {
    private Clients client = new();
    private async Task SaveClient()
    {
        var respose = await http.PostAsJsonAsync("api/Clients", client);
        if (respose.IsSuccessStatusCode)
        {
            toastService.ShowSuccess("Data saved successsfully", "Success");
            client = new();
        }
    }
}

